$color__main: #e62832;
$color__red--error: #ff0033;

.em-solver,
.em-solver *,
.em-solver *::before,
.em-solver *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.em-solver {
    position: fixed;
    z-index: 10000;
    top: 16px;
    right: 16px;

    width: 300px;
    background: #fff;
    box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.875rem;
    padding: 12px 16px;
    text-align: center;

    display: flex;
    flex-direction: column;

    &__heading {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 6px;
    }
    &__subheading {
        font-size: 14px;
    }
    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 16px;
        width: 16px;
        cursor: pointer;
    }
    &__main {
        flex: 1;

        padding: 12px 0 24px;
    }
    &__error {
        font-size: 14px;
        color: $color__red--error;

        &:last-child {
            margin-bottom: 12px;
        }
    }
    &__btns-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn {
        color: $color__main;
        background: #fff;
        border: 2px solid $color__main;
        padding: 7px 15px;
        border-radius: 3px;
        font-weight: bold;
        line-height: 1;
        transition: background .25s, color .25s;
        cursor: pointer;

        &:not(:disabled):hover {
            color: #fff;
            background: $color__main;
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        &:disabled {
            cursor: no-drop;
        }
    }
    &__footer {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: space-between;
    }
    &__author-wrapper {
        display: flex;
        align-items: center;
    }
    &__author-txt {
        margin-left: 6px;
    }
    &__link {
        color: $color__main;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $color__main;
            text-decoration: underline;
        }
    }
    &__link-block {
        display: block;
    }
    &__icon {
        height: 20px;
        width: 20px;
    }
}